<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BallsAndLines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <BallsAndLines.Properties.Settings>
            <setting name="BoardSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DropBallsPerStep" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NumBallsInLine" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SavedBoardSize" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDropBallsPerStep" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedBallsInLine" serializeAs="String">
                <value />
            </setting>
        </BallsAndLines.Properties.Settings>
    </userSettings>
</configuration>